<launch>
<arg name="takeoff_height" default="100"/>
<arg name="node_start_delay" default="0.0" />
<param name="use_gps_from_video" value="false" />
<param name="takeoff_height" value="$(arg takeoff_height)" />
<!-- <node name="coparos_services_handler" pkg="coparos" type="coparos_services_node"/> -->
<node name="ardupilot_topic_remapper" pkg="coparos" type="topics_remapper.py" />
<node name="coparos_measure_wind_service_node" pkg="coparos" type="coparos_measure_wind_service_node"/>
<node name="coparos_azimuth_fly" pkg="coparos" type="coparos_azimuth_node"/>

  
</launch>